[DEFAULT]
TOKEN = <telegram bot token>
chat_id = <chat_id number> 
main_folder = /home/<username>/.pybliotecario

# Other configs
[ARXIV]
arxiv_filter_dict = {'title' : ["Higgs"], 'summary' : ["VBF"]}
arxiv_categories = ['hep-ph']
