[DEFAULT]
TOKEN = <telegram bot token>
chat_id = <chat_id number> 
main_folder = /home/<username>/.pybliotecario


[FACEBOOK]
verify = <verify token from fb>
app_token = <app token from fb>
chat_id = <chat id> # optional

# Other configs
[ARXIV]
arxiv_filter_dict = {'title' : ["Higgs"], 'summary' : ["VBF"]}
arxiv_categories = ['hep-ph']

[SCRIPT]
shell = False
alias_script = /path/to/script
