[DEFAULT]
TOKEN = <telegram bot token>
# chat_id accepts also a list of IDs separated by comma, the first one is considered the main one
chat_id = <chat_id number>
main_folder = /home/<username>/.local/share/pybliotecario
# quiet defaults to false, whether the bot should always reply back
quiet = false 
# when chivato is true, the bot will write to the main chat_id whenever an user not in chat_id writes to the bot
chivato = false
# if true, messages from chat ids not included in `chat_id` will be ignored
ignore_unknown = false

[FACEBOOK]
verify = <verify token from fb>
app_token = <app token from fb>
chat_id = <chat id> # optional

# Other configs
[ARXIV]
arxiv_filter_dict = {'title' : ["Higgs"], 'summary' : ["VBF"]}
arxiv_categories = ['hep-ph']

[SCRIPT]
shell = False
alias_script = /path/to/script

[GITHUB]
token = "<github token>"
since_hours = 2

[TWITTER]
access_token = <acces_token>
access_token_secret = <access_token_secret>
consumer_key = <consumer_key>
consumer_secret = <consumer_secret>
